// Place all the styles related to the Api::Descriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description-label {
  font-weight: bold;
}

.description-form textarea {
  height: 50px;
  width: 360px;
  border: none;
  font-size: 15px;
}

.description-form button {
  border: 1px solid #00d280;
  color: #00d280;
  border-radius: 20px;
  padding: 6px 24px;
  margin: 18px;
  font-size: 15px;
}
