
/* ======== Dashboard Header ========= */

.logout-button {
  border: none;
  color: white;
  padding: 6px;
  background-color: #4fc5d0;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 2px;
}

.dashboard-header {
  background-color: #104ca0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.dashboard-header-group {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard-header-group ul {
  display: flex;
  flex-direction: row;
}

.dashboard-header-group ul li {
  margin: 10px;
  color: #d6e1f9;
}

.dashboard-header-left {
  border-bottom: 1px solid #79797b;
  width: 90%;
}

.dashboard-header-right {
  width: 10%;
}

/* ======== Dashboard Featured ========= */

.dashboard-featured {
  margin-top: 40px;
  padding-top: 20px;
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
}

.featured-carousel {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.slider-img img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 2px;
}


/* ======== Dashboard Main Body ========= */

.dashboard-background-blue {
  background-color: #104ca0;
  width: 100%;
  height: 100%;
}

.dashboard-main-body {
  background-color: #f3f5f9;
}


/* ======== Dashboard Form ========= */

.dashboard-form {

}

/* ======== Dashboard Snapshots ========= */

.snapshots-carousel h1 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-weight: bold;
}

.snapshots-carousel {
  width: 900px;
  margin: 50px auto;
}

.snapshot-slider img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 2px;
}

.snapshot-slider p {
  height: 100px;
  width: 150px;
  background-color: white;
  color: #9da2ac;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;
}


/* ======== Dashboard Footer ========= */

.dashboard-footer {
  height: 300px;
}
