/* ======== Signup 1 ========= */

.signup1 {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 25px auto;
}

.signup1 p {
  font-weight: bold;
  font-size: 13px;
}

.signup1-group {
  display: flex;
  flex-direction: row;
}

.signup1-group select {
  margin-right: 10px;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
  width: 135px;
}

.signup1-button {
  padding: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: lighter;
}




/* ======== Signup 2 ========= */

.signup2-body {
  height: 45em;
}

.signup2-main-title {
  width: 900px;
  margin: 40px auto;
  font-size: 30px;
  font-weight: 200;
}

.signup2-main-body {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 0 auto;
}

.signup2-vertical {
  margin: 0 40px;
}

.signup2-vertical-line {
  border: 0;
  border-left: 2px solid black;
  margin: 1em .5em;
  min-height: 10em;
}

.signup2-or {
  font-size: 17px;
  font-weight: bold;
}

.signup2-form {
  display: flex;
  flex-direction: column;
}

.signup2-form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.signup2-form-firstname {
  background-color: white;
  border-radius: 4px;
  padding: 9px;
  width: 200px;
}

.signup2-form-select {
  background-color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
  min-width: 60px;
  height: 40px;
  margin-right: 10px;
}

.signup2-form-zipcode {
  background-color: white;
  border-radius: 4px;
  padding: 9px;
  width: 80px;
}

.signup2-form-next {
  padding: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  width: 135px;
  margin-top: 30px;
}

.signup2-facebook {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: -55px;
}

.signup2-facebook button {
  background-color: #3260c7;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  padding: 12px;
  width: 300px;
}

.signup2-facebook div:nth-child(2n){
  margin-bottom: 1.6em;
}

.signup2-facebook div {
  font-size: 17px;
}


/* ======== Signup 3 ========= */

.signup3-body {
  height: 45em;
}

.signup3-main-title {
  width: 900px;
  margin: 40px auto;
  font-size: 30px;
  font-weight: 200;
}


.signup3-form {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 40px auto;
}

.signup3-inputs {
  display: flex;
  flex-direction: column;
}

.signup3-form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.signup3-inputs input {
  background-color: white;
  border-radius: 4px;
  padding: 9px;
  width: 200px;
}

.signup3-form > input {
  padding: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  width: 200px;
  margin-top: 45px;
  margin-bottom: 5px;
}

.signup3-form p {
  font-size: 13px;
}

.signup3-inputs .signup3-password-input {
  width: 250px;
}
